@(registrationForm: Form[DepositForm], clientToken: String)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@template {
    
    <h1>Register your tickets</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
    
    @form(routes.Deposit.doDeposit()) {
        
        <fieldset>
            @inputText(registrationForm("firstName"), '_label -> "First Name")
            @inputText(registrationForm("lastName"), '_label -> "Last Name")
            @inputText(registrationForm("email"), '_label -> "Email")
            <div id="payment-form"></div>
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Register" class="btn primary">
        </div>

        <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <script>
        braintree.setup("@clientToken", "dropin", {
          container: "payment-form"
        });
        </script>
    }
    
}
