@(registrationForm: Form[DepositForm], clientToken: String, didFail: Boolean)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@template {

    <div class="container">

                <h1>Presale Now Closed</h1>

                <p>The presale for Wadham students is now closed. For everyone who did pay a deposit, we'll be sending out email remainders when you need to pay the rest of the ticket price.</p>
    </div>
    
}
