@(clientToken : String)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@template {
    
    <h1>Subscribe to mailing list</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <form id="checkout" method="get" action="/checkout">
        <div id="payment-form"></div>
        <input type="submit" value="Pay $100">
    </form>

    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script>
    braintree.setup("@clientToken", "dropin", {
      container: "payment-form"
    });
    </script>

}
