@(registrationForm: Form[Registration])(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@template {
    
    <h1>Register your tickets</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
    
    @form(routes.RegistrationController.register()) {
        
        <fieldset>
            @inputText(registrationForm("firstName"), '_label -> "First Name")
            @inputText(registrationForm("lastName"), '_label -> "Last Name")
            @inputText(registrationForm("email"), '_label -> "Email")
            @checkbox(registrationForm("isWadham"),
                '_label -> "Wadham Student?")
            @helper.input(registrationForm("numberOfGuests"), '_label -> "Number of Guests") { (id, name, value, args) =>
                <input type="number" min="0" max ="3" name="@name" id="@id" @toHtmlArgs(args)>
            }

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Register" class="btn primary">
        </div>
        
    }
    
}
