@(emailForm: Form[SendEmail])(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

<!DOCTYPE html>
<html>
    <head><!-- CDN hosted by Cachefly -->
        <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script>
        tinymce.init({
            selector:'textarea',
            menubar: "edit insert view format table tools"
        });
        beforeSubmit = function() {
            tinyMCE.triggerSave();
            return true;
        }
        </script>
    </head>
    <body>
        @flash.get("success").map { message =>
            <div>
                <strong>Succeeded:</strong> @message
            </div>
        }
        @form(routes.Application.sendnews()) {
            @inputText(emailForm("subject"), '_label -> "Subject")
            @textarea(emailForm("content"), '_label -> "Content")
            <div class="actions">
                <input type="submit" value="Send Email" class="btn primary">
            </div>
        }
    </body>
</html>