@(settleForm: Form[SettleForm], clientToken: String, didFail: Boolean, clientString: Option[String], upgradeAvailable: Boolean, alreadyPaid: Boolean, id: Long)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@template {

    <div class="container">

        <h1>Presale Tickets for Wadham Students</h1>

        @if(didFail) {
            <div class="alert-message warning">
                <strong>There was an error processing your transaction, please try again later!</strong>
            </div>
        }

        <p>If you're a Wadham student who's paid a deposit on their ticket, you can settle the remaining 65GBP (plus a transaction fee of 3GBP that's set by our card processor, sorry!) here.<br />
            @if(upgradeAvailable){
                You can also optionally upgrade to a dining ticket for an extra 45, while these are still available.
            } else {
                Dining upgrades are now sold out unfortunately.
            }
        </p>

        @if(clientString.isEmpty) {
            <div class="alert-message warning">
                <strong>The link you followed appears to be invalid, please follow use link in the email you received!</strong>
            </div>
        } else {
            <p>You are paying for: <b>@clientString.get</b></p>
            @if(alreadyPaid) {
                <div class="alert-message warning">
                    <strong>This ticket has already been fully paid!</strong>
                </div>
            } else {
                @form(routes.Deposit.doSettle()) {

                    <fieldset>
                        <input type="hidden" name="id" value="@id">
                        @if(upgradeAvailable) {
                            @checkbox(settleForm("diningUpgrade"), '_label -> "Dining Upgrade (+45GBP)?")
                        } else {
                            @checkbox(settleForm("diningUpgrade"), '_label -> "Dining Upgrade?", 'disabled -> "disabled")
                        }
                        <div id="payment-form"></div>
                    </fieldset>

                    <div class="actions input-group">
                        <input type="submit" value="Pay Remaining Ticket Cost" class="btn primary" style="margin-right: 150px">
                    </div>

                    <small>Payment processing powered by <a href="https://www.braintreepayments.com/">Braintree</a>.</small>

                    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
                    <script>
                            braintree.setup("@clientToken", "dropin", {
                              container: "payment-form"
                            });
                            </script>
                }
            }
        }
    </div>

}
