@(buyForm: Form[BuyForm], clientToken: String, didFail: Option[String], upgradeAvailable: Boolean, maxTickets: Int, soldOut: Boolean)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@template {

    <div class="container">

        <h1>Ticket Purchasing</h1>

                <div class="alert-message warning">
                    <strong>Thank you for your interest in Wadham Ball but it is now sold out. You can join our tickets waiting list on our home page.</strong>
                </div>

    </div>

}
