@(upgradeForm: Form[UpgradeForm], clientToken: String, failure: Option[String], clientString: Option[String], upgradeAvailable: Boolean, alreadyUpgraded: Boolean, id: Long)(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@template {

    <div class="container">

        <h1>Dining Upgrade Sale</h1>

        @if(failure.isDefined) {
            <div class="alert-message warning">
                <strong>@failure.get</strong>
            </div>
        }

        <p>Dining upgrades are no longer on sale.</p>

    </div>

}
