@(buyForm: Form[WadhamBuyForm], clientToken: String, didFail: Boolean, upgradeAvailable: Boolean)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@template {

    <div class="container">

        <h1>Presale Tickets for Wadham Students</h1>

        @if(didFail) {
            <div class="alert-message warning">
                <strong>There was an error processing your transaction, please try again later!</strong>
            </div>
        }

        <p>If you're a Wadham student you can buy a ticket for 130GBP (plus a transaction fee of 3GBP that's set by our card processor, sorry!) here.<br />
            @if(upgradeAvailable){
                You can also optionally upgrade to a dining ticket for an extra 45, while these are still available.
            } else {
                Dining upgrades are now sold out unfortunately.
            }
            <br />You can also add an optional donation which will go to The Gatehouse and The Refugee Council.
        </p>

        @form(routes.Deposit.doWadhamBuy()) {

            <fieldset>
                @inputText(buyForm("firstName"), '_label -> "First Name", '_showConstraints -> false)
                @inputText(buyForm("lastName"), '_label -> "Last Name", '_showConstraints -> false)
                @inputText(buyForm("email"), '_label -> "Wadham Email", '_showConstraints -> false)
                @if(upgradeAvailable) {
                    @checkbox(buyForm("diningUpgrade"), '_label -> "Dining Upgrade (+45GBP)?")
                } else {
                    @checkbox(buyForm("diningUpgrade"), '_label -> "Dining Upgrade?", 'disabled -> "disabled")
                }
                @inputText(buyForm("donation"), '_label -> "Donation?", '_showConstraints -> false)
                <div id="payment-form"></div>
            </fieldset>

            <div class="actions input-group">
                <input type="submit" value="Buy Ticket" class="btn primary" style="margin-right: 150px">
            </div>

            <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
            <script>
                    braintree.setup("@clientToken", "dropin", {
                      container: "payment-form"
                    });
                    </script>
        }
    </div>

}
